<div fxLayout="column" fxFlex="100">

  <div class="header" fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
    <h1 fxLayoutAlign="center center">
      Hi!
    </h1>
  </div>
  <div class="body">
    <div fxLayoutAlign="center center">
      <div class="profile-circle">
        <img class="profile-img" src="../assets/AvatarMaker.png">
      </div>
    </div>
    <div fxLayout="column">
      <label><strong>Name: </strong>Werner</label>
      <label><strong>Surname: </strong>Grobler</label>
      <label><strong>Email: </strong>wernergrobler123456@gmail.com</label>
      <label><strong>Cellphone: </strong>+27796695914</label>
    </div>
  </div>
  <div class="footer">

    <div fxFlex="20" fxLayout="column" fxLayoutAlign="start start">
      <a href="https://www.linkedin.com/in/werner-grobler-600b1279/">
        <img class="media" src="../assets/LinkedIn.png">
      </a>
      <a href="https://www.facebook.com/werner.grobler1">
        <img class="media" src="../assets/Facebook.png">
      </a>
      <a href="https://www.instagram.com/wernergrobler123456/">
        <img class="media" src="../assets/Instagram.png">
      </a>
    </div>

  </div>
</div>