<div fxFlex="100" class="footer">

    <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
      <a href="https://www.linkedin.com/in/werner-grobler-600b1279/">
        <img class="media" src="assets/LinkedIn.png">
      </a>
      <a href="https://www.facebook.com/werner.grobler1">
        <img class="media" src="assets/Facebook.png">
      </a>
      <a href="https://www.instagram.com/wernergrobler123456/">
        <img class="media" src="assets/Instagram.png">
      </a>
    </div>

  </div>