.footer {
    background-color: darkslategrey;
    color: white;
    border-top: 4px solid lightgray;
    height: 15vh !important;
    position: absolute;
    bottom: 0px !important;
    width: 100%;
}

.media {
    height: 2em;
    margin: 8px;
}