<div fxLayout="column" fxFlex="100">
  <app-header title="Profile"></app-header>
  <div fxLayout="column" class="content-container">
    <div fxLayoutAlign="center center">
      <div class="profile-circle">
        <img class="profile-img" src="assets/AvatarMaker.png">
      </div>
    </div>
    <div fxLayout="column">
      <label><strong>Name: </strong>Werner</label>
      <label><strong>Surname: </strong>Grobler</label>
      <label><strong>Email: </strong><a
          href="mailto:wernergrobler123456@gmail.com">wernergrobler123456@gmail.com</a></label>
      <label><strong>Cellphone: </strong><a href="tel:+27796695914">+27796695914</a></label>

      <hr>
      <h2 fxLayoutAlign="center center">About Me</h2>
      <p>I am a young software developer who enjoys learning new skills and creating interesting projects from scratch
      </p>
      <p>I have experience with DevOps - Managing and creating pipelines and automating processes regarding project
        builds, testing, deployments and monitoring</p>
      <p>I also have experience Front End Development - Building web apps from the ground up is one of my strong areas
        and I enjoy designing and developing exciting projects</p>

      <hr>
      <h2 fxLayoutAlign="center center">Tools and Skills</h2>
      <ul>
        <li>Angular (v4 up to v10)</li>
        <li>Typescript</li>
        <li>Javascript</li>
        <li>Bash</li>
        <li>Git</li>
        <li>Linux</li>
        <li>Python3</li>
        <li>Docker</li>
        <li>Jenkins</li>
        <li>Jira</li>
        <li>Confluence</li>
      </ul>
    </div>
  </div>
  <app-footer></app-footer>
  <!-- <div class="footer">

    <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
      <a href="https://www.linkedin.com/in/werner-grobler-600b1279/">
        <img class="media" src="assets/LinkedIn.png">
      </a>
      <a href="https://www.facebook.com/werner.grobler1">
        <img class="media" src="assets/Facebook.png">
      </a>
      <a href="https://www.instagram.com/wernergrobler123456/">
        <img class="media" src="assets/Instagram.png">
      </a>
    </div>

  </div> -->
</div>